body {
    font-family: sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.dashboard-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #c75b28;
    margin-bottom: 30px;
    text-align: center;
}

.dashboard-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.dashboard-card h3 {
    color: #e67e22;
    margin-top: 0;
}

.dashboard-card p,
.dashboard-card ul {
    color: #333;
}

.dashboard-card ul {
    list-style: none;
    padding: 0;
}

.dashboard-card li {
    margin-bottom: 10px;
}
